<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h2>AI Chatbot</h2>

<div id="chatbox"></div>

<input type="text" id="msg" placeholder="Ask something">
<button onclick="sendMsg()">Send</button>

<script>
function sendMsg() {
    let msg = document.getElementById("msg").value;

    fetch("/chat", {
        method: "POST",
        headers: {"Content-Type": "application/x-www-form-urlencoded"},
        body: "msg=" + msg
    })
    .then(res => res.text())
    .then(data => {
        document.getElementById("chatbox").innerHTML += "<p><b>You:</b> " + msg + "</p>";
        document.getElementById("chatbox").innerHTML += "<p><b>Bot:</b> " + data + "</p>";
    });
}
</script>

</body>
</html>